<div class="row">
    <div class="col-lg-8">
        <div class="thread">
            <h3>{{thread.title}}</h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img src="/assets/img/user_icon.png" alt="">
                        <a *ngIf="thread.authorNickname === null || thread.authorNickname===''"
                            [routerLink]="['/users',thread.authorId]">{{thread.authorEmail}}
                        </a>
                        <a *ngIf="thread.authorNickname !== null && thread.authorNickname !==''"
                            [routerLink]="['/users',thread.authorId]">{{thread.authorNickname}}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        Theme: {{thread.themeName}}
                    </li>
                    <li class="list-inline-item">
                        Started: {{thread.timeCreated | date: 'short'}}
                    </li>
                </ul>
                <p>
                    {{thread.content}}
                </p>
            <button (click)="toBottom()" *ngIf="isAuthenticated()" class="btn btn-outline-secondary btn-sm">Reply</button>
        </div>
        <br>

        <app-post-list></app-post-list>

        <form (ngSubmit)="post()"  *ngIf="isAuthenticated()">
            <div class="form-group reply">
                <label for="exampleFormControlTextarea1">Replying to the thread.</label>
                <textarea class="form-control" [(ngModel)]="postContent" rows="3"
                 required [ngModelOptions]="{standalone: true}"
                 pattern="^[a-zA-Z0-9_.,;!-\s]*$"
                 #content="ngModel"></textarea>

                <button class="btn btn-outline-secondary btn-sm"  type="submit"
                [disabled]="content.errors">Post</button>
            </div>
        </form>
    </div>

    <div class="col-lg-4">
        <app-statistic></app-statistic>
    </div>
</div>
