img{
    width: 1em;
    height: 1em;
 }
 
 .thread {
    background-color: #dfe0e1;
    padding: 20px;
    margin-top: 20px;
 }

 .reply {
   background-color: #f8f9fa;
   padding: 20px;
   margin-top: 20px;
}