<div class="row">
    <div class="col-lg-8">
        <div class="container">
            <div class="user">
                <div class="credentials">
                    <h5>Id: {{user.id}}</h5>
                    <h5>Email: {{user.email}}</h5>
                    <h5>RoleName: {{user.roleName}}</h5>
                    <h5 *ngIf="user.nickname !== ''">Nickname: {{user.nickname}}</h5>
                </div>
                <div *ngIf="isCurrentUser()" class="buttons">
                    <button class="btn btn-outline-secondary btn-sm">Change nickname</button>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-lg-4">
        <app-statistic></app-statistic>
    </div>
</div>
