<div class="row">
    <div class="col-lg-8" *ngIf="isLoaded">
            <div class="display-body">
                <div class="credentials">
                    <h5>Id: {{user.id}}</h5>
                    <h5>Email: {{user.email}}</h5>
                    <h5>RoleName: {{user.roleName}}</h5>
                    <h5 *ngIf="user.nickname !== '' && user.nickname !== null">Nickname: {{user.nickname}}</h5>
                </div>
                <div class="buttons">
                    <button *ngIf="isCurrentUser()" class="btn btn-outline-secondary btn-sm" (click)="toggleNickname()">Change nickname</button>
                    <button *ngIf="isAdministratable()" class="btn btn-outline-secondary btn-sm"(click)="toggleRole()" >Change role</button>
                    <button *ngIf="isAdministratable()" class="btn btn-secondary btn-sm"
                    mwlConfirmationPopover
                    [popoverTitle]="'Delete'"
                    [popoverMessage]="'Do you really want to delete this user?'"
                    placement="left"
                    (confirm)="deleteUser(user.id)"
                    >Delete user</button>
                </div>
                <form (ngSubmit)="changeRole(user.id, curRoleId)" [hidden]="isHiddenRole" #f="ngForm">
                    <div class="form-group">
                        New role:
                        <select class="form-select" [(ngModel)]="curRoleId" name="role" id="role">
                            <option *ngFor="let role of roles" [value]="role">
                                {{role.roleName}}
                            </option>
                        </select>
                
                        <button class="btn btn-outline-secondary btn-sm"  type="submit" name="button"
                        (click)="toggleRole()">Update</button>
                    </div>
                </form>
                <form (ngSubmit)="changeNickname(newNickname)" [hidden]="isHiddenNickname" #f="ngForm">
                    <span class="alert" *ngIf="errorMessage!==''">{{errorMessage}}</span>
                    <div class="form-group">
                        New nickname:
                        <input class="form-control" [(ngModel)]="newNickname" #nickname="ngModel" required  [ngModelOptions]="{standalone: true}" 
                            type="text" name="nickname" maxlength="30"
                            placeholder="Enter Nickname">
                        <span class="alert" *ngIf="nickname.errors?.['maxlength']" >Nickname has to be less than 30 characters.</span>
                
                        <button class="btn btn-outline-secondary btn-sm"  type="submit" name="button"
                        >Update</button>
                    </div>
                </form>
            </div>       
    </div>
    <div class="col-lg-4">
        <app-statistic></app-statistic>
    </div>
</div>
