<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg">
                <button type="button" class="btn btn-primary create-button"
                 *ngIf="isAuthenticated()" (click)="toggleCreation()">
                    Start new thread
                </button>
            </div>
            <div class="row">
                <div class="col-lg">
                    <form (ngSubmit)="postThread()" #f="ngForm" [hidden]="isHiddenCreation"  *ngIf="isAuthenticated()">
                    <div class="form-group create-thread">
                        <input name="title" class="form-control" [(ngModel)]="newThread.title" placeholder="Title"
                        required pattern="^[a-zA-Z0-9_.,;!-\s]*$"
                        #title="ngModel"> 
                        <br>
                        Theme:
                        <select class="form-select" [(ngModel)]="selectedTheme" name="theme">
                            <option *ngFor="let theme of themes" [ngValue]="theme">
                                {{theme.themeName}}
                            </option>
                        </select>
                        <br>
                        <br>
                        <label>Thread body.</label>
                        <textarea class="form-control" [(ngModel)]="newThread.content" rows="3"
                         required name="content"
                         pattern="^[a-zA-Z0-9_.,;!-\s]*$"
                         #content="ngModel"></textarea>
        
                        <button class="btn btn-outline-secondary btn-sm"  type="submit"
                        [disabled]="content.errors || title.errors" (click)="toggleCreation()" name="button">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
        <div *ngFor="let thread of threads">
            <div class="display-body">
                <a [routerLink]="['/threads', thread.id]"><h3>{{thread.title}}</h3></a>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="/assets/img/user_icon.png" alt="">
                            <a *ngIf="thread.authorNickname === null || thread.authorNickname===''"
                                [routerLink]="['/users',thread.authorId]">{{thread.authorEmail}}
                            </a>
                            <a *ngIf="thread.authorNickname !== null && thread.authorNickname !==''"
                                [routerLink]="['/users',thread.authorId]">{{thread.authorNickname}}
                            </a>
                        </li>
                        <li class="list-inline-item" *ngIf="thread.themeName!=='' && thread.themeName!==null">
                            Theme: {{thread.themeName}}
                        </li>
                        <li class="list-inline-item">
                            Started: {{thread.timeCreated | date: 'shortDate'}}
                        </li>
                    </ul>
                    <p>
                        {{thread.content}}
                    </p>
                    <br>
                <div class="buttons">
                    <a [routerLink]="['/threads', thread.id]" class="btn btn-outline-secondary btn-sm">Read thread</a>
                    <button *ngIf="isAllowedToChange()" class="btn btn-secondary btn-sm"
                    mwlConfirmationPopover
                    [popoverTitle]="'Delete'"
                    [popoverMessage]="'Do you really want to delete this thread?'"
                    placement="left"
                    (confirm)="deleteThread(thread.id)"
                    >Delete thread</button>
                    <a *ngIf="isAllowedToChange()" [routerLink]="['/threads/edit',thread.id]" class="btn btn-secondary btn-sm">Update thread</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-4">
        <app-statistic></app-statistic>
    </div>
</div>

