p{
    font-size: 0.9em;
    margin: 0;
 }

 img{
    width: 1em;
    height: 1em;
 }

 .create-thread-button{
   margin: 20px 0 0 20px;
 }

 .buttons > * {
   margin: 0 10px 0 10px;
 }

 .create-thread {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
}
