<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <button type="button" class="btn btn-primary create-button"
                 [routerLink]="['threads']">
                 Create new user</button>
            </div>
            <div class="col-lg-auto"></div>
        </div>
        
        <div *ngFor="let user of users">
            <div class="display-body">
                <div class="credentials">
                    <h5>Id: {{user.id}}</h5>
                    <h5>Email: {{user.email}}</h5>
                    <h5>Role: {{user.roleName}}</h5>
                    <h5 *ngIf="user.nickname !== '' && user.nickname !== null">Nickname: {{user.nickname}}</h5>
                </div>
                <div class="buttons">
                    <a [routerLink]="['/users',user.id]" class="btn btn-secondary btn-sm">Change role</a>
                    <button class="btn btn-secondary btn-sm"
                    mwlConfirmationPopover
                    [popoverTitle]="'Delete'"
                    [popoverMessage]="'Do you really want to delete this user?'"
                    placement="left"
                    (confirm)="deleteUser(user.id)"
                    >Delete user</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <app-statistic></app-statistic>
    </div>
</div>

