<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary create-button"
                (click)="toggleCreation()">
                 Create new theme</button>

                 <form (ngSubmit)="createTheme()"  class="display-body" [hidden]="isHiddenCreation">
                    <div class="form-group create-thread">
                        <input name="title" class="form-control" [(ngModel)]="newTheme.themeName" placeholder="Name"
                        required pattern="^[a-zA-Z0-9_.,;:!-\s]*$"
                        #name="ngModel"> 
                        <br>
                        <button class="btn btn-outline-secondary btn-sm"  type="submit"
                        [disabled]="name.errors" (click)="toggleCreation()" name="button">Post</button>
                    </div>
                </form>
            </div>
        </div>
            <div class="display-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Theme</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                <tbody>
                    <tr *ngFor="let theme of themes">
                        <td>{{theme.id}}</td>
                        <td>{{theme.themeName}}</td>
                        <td>
                            <button *ngIf="isModeratable()" class="btn btn-secondary btn-sm"
                            mwlConfirmationPopover
                            [popoverTitle]="'Delete'"
                            [popoverMessage]="'Do you really want to delete this thread?'"
                            placement="left"
                            (confirm)="deleteTheme(theme.id)"
                            >Delete theme</button>
                        </td>
                    </tr>        
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <app-statistic></app-statistic>
    </div>
</div>
