<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form  class="form-signin" (ngSubmit)="login()">
      <div class="container-fluid">
        <h2 class="form-signin-heading">Login</h2>
        <br/>
        <label for="email" >Email address</label>
        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" name="email" class="form-control" id="AuthEmail" placeholder="Enter Email">
        <br/>
        <label for="password" >Password</label>
        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" name="password" class="form-control" id="AuthPassword" placeholder="Enter Password">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </div>
    </form>
    <button *ngIf="isAuthenticated()" (click)="logout()" class="btn btn-primary"></button>
  </div>
  <div class="col-md-4"></div>
  
  <h1 *ngIf="isAuthenticated()">YEEEEEEEEEEESSSSSSSSSs</h1>
  
</div>
